*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{

	background-size: cover;
}

.a1{
	font-size: 75px;
	text-align: center;
	color: #000033;
}
.a2{
	font-size: 25px;
	line-height: 42px;
	
	margin-left: 8%;
	margin-top: 8%;
}
