*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	background-color: #e6e6ff;
}

.a{
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	font-style: italic;
	position: fixed;
	left: 40%;
	text-align: center;
}

.b{
	font-size: 45px;
	color: darkblue;
	font-family: serif;
	font-weight: bold;
	position: fixed;
	left: 38%;
	top: 10%;
	text-align: center;
}

.ca{
	font-size: 20px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;
	position: fixed;
	top: 84%;

}

.img{
	position: fixed;
	top: 22%;
	left: 40%;
	

	box-sizing: border-box;
}