*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{

	background-size: cover;
}
.mp{
	font-size: 75px;
	text-align: center;
	color: #000033;
}

.dd{
	font-size: 25px;
	line-height: 35px;
	position: absolute;
	left: 10%;
}

.dd ol li{
	margin-left: 15%;
}